<nav class="Navigation">
  <%= if @navigation != [] do %>
    <div class="Navigation-group">
			<%= for root <- @navigation, IO.inspect(root) do %>
      <div class="Tree" data-behaviour="tree" id="tree-<%= root.name %>">
        <h3 class="Tree-title"><%= root.label %></h3>
        <ul class="Tree-items Tree-depth-1">	
					<%= leaves(root[:items] || [], root, nil, 2) %>
        </ul>
      </div>
			<% end %>
    </div>
  <% end %>
</nav>