<!DOCTYPE html>
<html dir="ltr" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script>
      var cl = document.querySelector('html').classList; 
      cl.remove('no-js');
      cl.add('has-js');
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>" defer></script>
</head>
<body>
	<%= render @view_module, @view_template, assigns %>
</body>
</html>